body{margin: 0;}
a{
    color: inherit;
    text-decoration: none;
    display: block;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* 로고 이미지 */
.logo{
    background: url('../img/logo.png') no-repeat center / 100%;
    text-indent: -9999px;
}
.logo a{
    width: 100%;
    height: 100%;
}