header, footer{
    padding: 10px 30px 0 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 헤더 로고 */
.m_logo, .f_logo{
    width: 50px;
    height: 48px;
}

/* 헤더 우측 / 로그인(로그아웃), 회원가입(마이페이지) */
.h_right{ display: flex; }
.login, .join{
    padding: 0 10px 0 10px;
    position: relative;
}
.h_icon_desc{
    color: #00000000;
    position: absolute;
    width: 65px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.login:hover >.h_icon_desc,
.join:hover >.h_icon_desc{ color: #000; }