/* 헤더 로고 */
.logo{
    width: 53px;
    height: 48px;
    background: url('../img/logo.png') no-repeat center / 100%;
    text-indent: -9999px;
}
.logo a{
    width: 100%;
    height: 100%;
}

/* 헤더 우측 / 로그인(로그아웃), 회원가입(마이페이지) */
