main{padding: 50px 0;}

/* ///////////////////////////////// */
/* 메인 헤더 _ 등급명 */
/* ///////////////////////////////// */
.m_h_lev{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;
}
.m_h_lev_img{
    width: 50px;
    height: 50px;
    background: url('../img/level.png') no-repeat  4px 4px / 400%;
    /* background-position: 4px 4px;
    background-position: -47px 4px;
    background-position: -100px 4px;
    background-position: -155px 4px;
    background-position: 1px -52px;
    background-position: -50px -52px;
    background-position: -101px -52px;
    background-position: -152px -52px; */
}
.m_h_fix{
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999;
    display: flex;
    /* transform: translateX(calc(100% - 40px)); */
    /* main width값 조절필요 */
    transition-property: transform;
	transition-duration: 1s;
}
.m_h_btn{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    background-color: pink;
    border-radius: 10px 0 0 10px;
    text-align: center;
    line-height: 2.2;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

/* ///////////////////////////////// */
/* 메인 헤더 _ 메뉴 */
/* ///////////////////////////////// */
.m_h_li{
	height: 100vh;
	border: 1px solid;
    padding: 20px;
}
.m_h_li > li{
	position: relative;
    padding: 5px 0 5px 5px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.m_h_li > li:first-child{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    cursor: auto;
}
.m_h_li_box{
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
    bottom: 0;
	
	background: rgba(255, 192, 203, 0.4);
	transform: translateX(-100%);
	transition-duration: 1s;
}
.m_h_li > li:hover > .m_h_li_box{
	transform: translateX(0);
}
.m_h_li_btn{
    padding: 0 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

/* ///////////////////////////////// */
/* 메인_ */
/* ///////////////////////////////// */
.main{
    padding: 50px 10% 0;
    width: calc(100% - 130px); /* 나중에 지울 예정 */
    box-sizing: border-box; /* 나중에 지울 예정 */
}
.m_title{
    display: flex;
    justify-content: space-between;
}