<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thingslove.app.dao.itemMapper">
    <!--/////////////////////////////////////////////////////-->
    <!--////////////////// 아이템 리스트 조회 //////////////////-->
    <!--/////////////////////////////////////////////////////-->
    <select id="selectItemList" parameterType="hashmap" resultType="itemDto">
        select * from item
            where userNo = #{userNo}
            <if test="cateNo != NULL or cateNo > 0">
                AND cateNo = ${cateNo}
            </if>
    </select>

    <!--/////////////////////////////////////////////////////-->
    <!--//////////////// 아이템 > 카테고리 이동 /////////////////-->
    <!--/////////////////////////////////////////////////////-->
    <update id="moveItem" parameterType="hashmap">
        update item
            set cateNo = #{cateNo}
            where userNo = #{userNo} AND itemNo IN
                <foreach item="item" collection="itemList" open="(" separator="," close=")">
                    #{item}
                </foreach>
    </update>
</mapper>